#canvas{
  /* border: 1px solid gray; */
  display: inline-block;
  margin: auto;
  /* position:fixed;
  left: 12%; */
  /* float: left; */
}

#selector{
  position: absolute;
  top: 10;
  left: 50;
  font-family:sans-serif;
  /* position:absolute;
  left: 12%; */
}

#total{
  /* border: 1px solid black; */
  position: absolute;
  height: 100px;
  width: 200px;
  top: 45%;
  left: 37.8%;
  text-align: center;

  font-family: sans-serif;
}

#total_text{
  font-size: 2em;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
}
